{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<!-- New member form -->
 
  <!-- Member list -->
  <h2>Membres de l'équipage</h2>
  <section class="member-list">
  {% for membre in membre %}
     <div class="member-item">{{membre.membre}}</div>
  {% endfor %}
   
  </section>
</main>

{% endblock %}
