<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}L'équipage de Jason
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('asset/css/jason.css') }}">
		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
    {% include "layout/header.html.twig" %}
		<h2>Ajouter un(e) Argonaute</h2>
		<form class="new-member-form" method="post" >
			<label for="name">Nom de l&apos;Argonaute</label>
			<input id="name" name="name" type="text" placeholder="Charalampos"/>
			<button type="submit"> Envoyer</button>
		</form>
		<!-- Member list -->
		<h2>Membres de l'équipage</h2>
		<section class="member-list">
			<div class="member-item">Eleftheria</div>
			<div class="member-item">Gennadios</div>
			<div class="member-item">Lysimachos</div>
			{% for membre in membre %}
				<div class="member-item">{{membre.membre}}</div>
			{% endfor %}
		</section>

        {% include "layout/footer.html.twig" %}
		{% block body %}{% endblock %}
	</body>
</html>
